@model Task_1.PL.WEB_UI.Models.User.EditUserVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>User <b>@Model.Name</b></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger form-control-file" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HasImage, "Use Uploaded Image", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HasImage, new { htmlAttributes = new { @class = "form-control form-check-input col-md-1", type = "checkbox" } })
            @Html.HiddenFor(model => model.Image_id, new { htmlAttributes = new { type = "hidden" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <img width="100" height="100" class="" src="@Url.Action("Get","Image", new { Id = Model.Image_id })" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <input type="file" name="image" class="form-control col-md-3" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedRecipie, null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedRecipie, Model.MissingRecipies, "Choose one... ", new { @class = "form-control", data_live_search = "true" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedRecipieToDelete, null, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedRecipieToDelete, Model.Recipie, "Choose one... ", new { @class = "form-control", data_live_search = "true" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
@section scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
